$principal  : #116683;
$secundaria : #2981a8;
$dark-smoke : #555555;
$dark-blue  : #167ABC;

$colors: (
    principal   : $principal,
    secundaria  : $secundaria,
    dark-smoke  : $dark-smoke,
    dark-blue   : $dark-blue
);